<table>
<tr>
<form method='post' action='/createprop'>
<% @order.each do |item| %>
<td><input type='text' name='name'value='<%= item %>' size=<%= item.length %> /></td>
<% end %>
</tr>
</form>
<tr>
<% @order.each do |item| %>

<% end %>
</tr>
<tr>
<% @order.each do |item| %>
<td>
<form method='post' action='/deleteprop'>
<input type='hidden' name='name' value='<%= item %>' />
<input type='submit' value='Delete Property' onclick='return confirmSubmit("<%= item %>")'/>
</form>
</td>
<% end %>
</tr>
</table>