<script type="text/javascript">
<!--
function confirmSubmit(item)
{
message = "Are you sure you want to delete " + item + "?"
var agree=confirm(message);
if (agree)
	return true ;
else
	return false ;
}
// -->
</script>

</body>
</html>