<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= @order[@id_location] %></title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<% if File.exists? "#{@file}.css" %>
		<link rel='stylesheet' type='text/css' href='/<%= @file %>.css' />
		<% end %>
	</head>

<body>
<a href='/'>return to index</a>
